html
  head
    title= title
  body
    h1= "Book a Space"
    a(class='list-direct' href='/spaces/new')= button
    //- - var spaces = []
    ul
      if spaces.length == 1
        h2= "There are no spaces available"
      else
        each space in spaces
          label New Listing
          li= space.name
          li= space.description
          li= space.price
