html
  head
    title= title
  body
    h1= "Book a Space"
    a(class='list-direct' href='/spaces/new')= button
    //- - var spaces = []
    ul
      each space in spaces.length ? spaces : ['There are no spaces available'] 
        label New Listing
        li= space.name
        li= space.description
        li= space.price
        

